# Homework 5
## Purpose:
This homework will encompass two modules, that are highly related to each other.  This will primarily deal with Pandas and working with Pandas objects and pulling/pushing data into different formats and to process a notebook.

## Required Hand-in
Two things need to be handed in for this homework.  One is the notebook itself, and the second is a CSV output (see last step)

## Homework
1.  Pull in the LaborDataSheet.csv file into a Pandas data frame
    - It's available on Github, or you could get it from your copy.  Ideally, pull from a definitive source, which in this case is Github directly.  You can do this by clicking "raw" while viewing the file on Github, and using the URL.
2.  Print out the data frame (this is okay to do, in this case, as it'll only print out a portion of the full data set.
3.  Create a new dataframe, from the old one, filtering to include only store 10764.
4.  Print this data frame, make sure you have the selector correct.  Also get the info for this data frame (method name, it's been covered)
5.  Add a new column, call it "DATE".  This should be the TimeStamp without the time portion, so just the date
    - I didn't cover this, but there's ample information online.  Remember to read the documentation surrounding anything you find.
5.  Using .groupby and .agg, create a dataFrame that includes the manager, the date, and the sum of the sales for that given day.
    - There may be other ways to do this.  If you prefer to use another method, have at it, as long as you get a structure similar to mine.
6.  Add a column header to the new sum, call it "Daily Sales".  This can, and should, be done with #5 (in the same line)
7.  Export this data frame to a CSV, and attach it with the homework
8.  The rest of this homework is pretty free form, but it'll be weighted on what information you can gather from this information and what your analysis is.  Try to do as much of this in Python as possible, and include any work you do along with your analysis.  For the analysis, please create a markdown cell somewhere (either before or after the analysis).  Some questions to consider answering include:
    1. What manager made the most money (in total)?
    2. What manager made the most money (in terms of average days worked)?
    3. What days did the most sales occur?  Did this hold true for all the managers that were around those days, or were some managers better?
    4. What days were sales better than others?

As I said though, #8 is very, very flexible.  Try to find some cool information and present it back.

In [1]:
import pandas as pd
laborData = pd.read_csv("https://raw.githubusercontent.com/TheDarkTrumpet/BAIS-6040-0EXP-spr2021/master/data/LaborSheetData.csv")
laborData

       Store        TimeStamp     Manager  Projected Sales  Sales  DT TTL
0       4007    2/4/2017 7:10    Monica H            281.0  296.0     192
1       4007    2/4/2017 8:04     David H            670.0  347.0     111
2       4007   2/3/2017 18:41     David H            784.0  649.0     143
3       4007   2/4/2017 10:06     David H            852.0  750.0     158
4       4007   2/5/2017 10:57      Zoey D             54.0  108.0     104
...      ...              ...         ...              ...    ...     ...
13173  16250  9/25/2017 13:22  Carmella R            669.0  758.0     238
13174  16250  9/25/2017 14:33  Carmella R            421.0  395.0     126
13175  16250  9/25/2017 17:36  Carmella R            365.0  439.0     194
13176  16250  9/25/2017 17:37  Carmella R            425.0  435.0     197
13177  16250  9/25/2017 17:39  Carmella R            375.0  374.0     234

[13178 rows x 6 columns]

In [2]:
store = laborData[(laborData["Store"] == 10764)]
store

      Store        TimeStamp  Manager  Projected Sales  Sales  DT TTL
1274  10764   1/25/2017 8:29  Erica F            441.0  538.0     189
1275  10764   1/25/2017 8:45  Erica F            194.0  149.0     108
1276  10764  1/25/2017 10:17  Erica F            278.0  320.0     135
1277  10764  1/25/2017 10:40  Erica F            180.0  220.0     160
1278  10764  1/25/2017 11:15  Erica F            551.0  661.0     158
...     ...              ...      ...              ...    ...     ...
5156  10764  9/25/2017 12:51  Erica F            846.0  905.0     210
5157  10764  9/25/2017 13:08  Erica F            961.0  891.0     217
5158  10764  9/25/2017 14:27  Erica F            771.0  684.0     237
5159  10764  9/25/2017 17:09  Erica F            562.0  524.0     215
5160  10764  9/25/2017 17:12  Erica F            434.0  526.0     393

[3887 rows x 6 columns]

In [3]:
store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3887 entries, 1274 to 5160
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Store            3887 non-null   int64
 1   TimeStamp        3887 non-null   object
 2   Manager          3887 non-null   object
 3   Projected Sales  3887 non-null   float64
 4   Sales            3887 non-null   float64
 5   DT TTL           3887 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 212.6+ KB

In [4]:
store['DATE'] = pd.to_datetime(store['TimeStamp']).dt.date

<ipython-input-4-09e4e46fc1f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store['DATE'] = pd.to_datetime(store['TimeStamp']).dt.date

In [5]:
storeSales = store.groupby(["Manager", "DATE"])["Sales"].agg('sum').reset_index(name="Daily Sales")
storeSales

      Manager        DATE  Daily Sales
0     Ariel A  2017-01-26       954.00
1     Ariel A  2017-01-28       711.00
2     Ariel A  2017-02-03       581.00
3     Ariel A  2017-02-05       108.00
4     Ariel A  2017-02-09       765.00
...       ...         ...          ...
1162   Zoey D  2017-05-07      1926.00
1163   Zoey D  2017-06-04      2079.00
1164   Zoey D  2017-06-05      1424.75
1165   Zoey D  2017-06-07      2340.82
1166   Zoey D  2017-06-11      1859.88

[1167 rows x 3 columns]

In [6]:
storeSales.to_csv("../export/managersales.csv")

# Analysis Section
Use the space below to do some interesting stuff

In [7]:
# storeSales.groupby(["Manager"])["Daily Sales"].agg('sum').reset_index(name="Total").sort_values(by=["Total"], ascending=False)

In [8]:
# storeSales.groupby(["Manager"]).count()

In [9]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#    print(storeSales)

In [10]:
# storeSales.groupby(["Manager"])["Sales"].agg('sum')