# 06.01.01 - CSVImportExport

## Purpose

This notebook specifically talks about dealing with CSV files.  Both input/output.  Please note that we won't be doing really any analysis on these files.  Just pulling them in, doing simple operations, and exporting them

This notebook is part of a set of notebooks about file input/output.

## Requirements

This notebook will read from the data directory within the Github repo.  Pulling this notebook, by itself, will likely NOT work.  You will need to pull down the entire repository.

This notebook will also read from a CSV online.  So internet access at the time of run is required.

This notebook is developed in PyCharm.  It's possible that you may need to modify some paths to get this working if you are using Jupyter or have a different environment.  Please look at and modify the _dataDir_ variable below, as needed

In [2]:
# IMPORTANT: CHANGE THIS PATH IF IT DOESN'T WORK FOR YOU!!!
dataDir = "../../data/"


import pandas as pd

# Reading from on-disk locations

In [3]:
boyNames = pd.read_csv(f"{dataDir}/BoyNames.csv")
boyNames

     Rank  Year         Name  Frequency
0       1  1980      Michael       3886
1       2  1980        Jason       2389
2       3  1980  Christopher       2273
3       4  1980      Matthew       2112
4       5  1980        David       2088
..    ...   ...          ...        ...
845    21  2013       NATHAN        470
846    22  2013       ANDREW        468
847    23  2013        HENRY        463
848    24  2013        DAVID        461
849    25  2013         JACK        440

[850 rows x 4 columns]