# 06.01.02 - MultipleDataSources

## Purpose
This notebook will talk about pulling from, and working with multiple, separate, data sources and trying to join them together through code.

There are many ways to do this sort of work.  I'll focus it in two parts - one part dealing with the more primitive methods of doing this, and the other using more Pandas.

## Requirements

An internet connection is required for using this.  We'll be pulling from Github directly.

## Sources

The information that pulls from is a subset of data from NOAA.  The full data set can be obtained by visiting:

https://www.ncdc.noaa.gov/cdo-web/search

The Census Information is available at:

https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html

In [1]:
# User configurable locations
iowaWeatherFile = "https://raw.githubusercontent.com/TheDarkTrumpet/BAIS-6040-0EXP-spr2021/master/data/iowa_2010.csv"
arizonaWeatherFile = "https://raw.githubusercontent.com/TheDarkTrumpet/BAIS-6040-0EXP-spr2021/master/data/arizona_2010.csv"
newyorkWeatherFile = "https://raw.githubusercontent.com/TheDarkTrumpet/BAIS-6040-0EXP-spr2021/master/data/newyork_2010.csv"
censusInformation = "https://raw.githubusercontent.com/TheDarkTrumpet/BAIS-6040-0EXP-spr2021/master/data/nst-2010.csv"

# Base loads
First, we have to load and look at data before we can go on.  At this point, we're doing very minor cleanup on the data.

In [2]:
import pandas as pd

In [3]:
iowaWeatherRaw = pd.read_csv(iowaWeatherFile)
iowaWeatherRaw

,STATION,NAME,STATE,LATITUDE,LONGITUDE,ELEVATION,DATE,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,TOBS,TOBS_ATTRIBUTES
0,US1IAST0011,"BETTENDORF 1.5 NW, IA US",IOWA,41.578520,-90.498990,214.9,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,US1IAST0011,"BETTENDORF 1.5 NW, IA US",IOWA,41.578520,-90.498990,214.9,2010-01-02,NaN,NaN,NaN,NaN,NaN,NaN
2,US1IAST0011,"BETTENDORF 1.5 NW, IA US",IOWA,41.578520,-90.498990,214.9,2010-01-03,NaN,NaN,NaN,NaN,NaN,NaN
3,US1IAST0011,"BETTENDORF 1.5 NW, IA US",IOWA,41.578520,-90.498990,214.9,2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN
4,US1IAST0011,"BETTENDORF 1.5 NW, IA US",IOWA,41.578520,-90.498990,214.9,2010-01-05,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,US1IAPK0001,"WINDSOR HEIGHTS 0.3 NNE, IA US",IOWA,41.609188,-93.710223,263.0,2010-12-27,NaN,NaN,NaN,NaN,NaN,NaN
1047,US1IAPK0001,"WINDSOR HEIGHTS 0.3 NNE, IA US",IOWA,41.609188,-93.710223,263.0,2010-12-28,NaN,NaN,NaN,NaN,NaN,NaN
1048,US1IAPK0001,"WINDSOR HEIGHTS 0.3 NNE, IA US",IOWA,41.609188,-93.710223,263.0,2010-12-29,NaN,NaN,NaN,NaN,NaN,NaN
1049,US1IAPK0001,"WINDSOR HEIGHTS 0.3 NNE, IA US",IOWA,41.609188,-93.710223,263.0,2010-12-30,NaN,NaN,NaN,NaN,NaN,NaN
1050,US1IAPK0001,"WINDSOR HEIGHTS 0.3 NNE, IA US",IOWA,41.609188,-93.710223,263.0,2010-12-31,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
iowaWeather = iowaWeatherRaw[["DATE", "STATE", "TMIN", "TMAX"]].dropna()
iowaWeather

           DATE STATE  TMIN  TMAX
321  2010-01-01  IOWA -10.0   7.0
322  2010-01-02  IOWA -30.0   0.0
323  2010-01-03  IOWA -28.0  -8.0
324  2010-01-04  IOWA -21.0  -8.0
325  2010-01-05  IOWA -20.0  -4.0
..          ...   ...   ...   ...
681  2010-12-27  IOWA   4.0  13.0
682  2010-12-28  IOWA   1.0  21.0
683  2010-12-29  IOWA   7.0  25.0
684  2010-12-30  IOWA  20.0  35.0
685  2010-12-31  IOWA   7.0  43.0

[364 rows x 4 columns]

# Cleanup and massaging the data
After the initial load, we want to work with the data a bit more to get it into a usable format.  Note we're only dealing with **one** file right now.

In [5]:
# Note our date is an object here, we'll want to fix that.
# This was covered in 06.01.01-CSVImportExport
iowaWeather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 321 to 685
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    364 non-null    object
 1   STATE   364 non-null    object
 2   TMIN    364 non-null    float64
 3   TMAX    364 non-null    float64
dtypes: float64(2), object(2)
memory usage: 14.2+ KB

In [6]:
iowaWeather["DATE"] = pd.to_datetime((iowaWeather["DATE"]))
iowaWeather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 321 to 685
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    364 non-null    datetime64[ns]
 1   STATE   364 non-null    object
 2   TMIN    364 non-null    float64
 3   TMAX    364 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 14.2+ KB

In [7]:
# We'll need the month for the more basic way of computing averages, lets split that out.
iowaWeather["MONTH"] = pd.DatetimeIndex(iowaWeather["DATE"]).month

In [8]:
# Now, lets test date access, so we can group stuff a bit more.
iowaWeather.iloc[0]  # A simple access query

DATE     2010-01-01 00:00:00
STATE                   IOWA
TMIN                   -10.0
TMAX                     7.0
MONTH                      1
Name: 321, dtype: object

In [9]:
# Converting the data type allows us to access properties to make life easier.
print(iowaWeather.iloc[0]["DATE"].month)
print(iowaWeather.iloc[0]["DATE"].day)
print(iowaWeather.iloc[0]["DATE"].year)

1
1
2010

# Generating Averages
At this point, it's a good time to start working on the averages.  Fundamentals in Python are your strongest point.  While it may not be the most optimal method for handling it,

In [10]:
monthlyTemps = [[] for _ in range(12)]  # Generate a list of lists, we'll store the temperatures there
monthlyTemps

[[], [], [], [], [], [], [], [], [], [], [], []]

In [11]:
# We start with month = 1, but our indexes are from 0.  Remember this offset.
for idx, measure in iowaWeather.iterrows():
    index = measure["MONTH"] - 1
    average = (measure["TMIN"] + measure["TMAX"]) / 2
    monthlyTemps[index].append(average)
monthlyTemps

[[-1.5,
  -15.0,
  -18.0,
  -14.5,
  -12.0,
  -6.5,
  6.0,
  0.5,
  -10.0,
  -4.0,
  8.0,
  11.0,
  10.0,
  20.0,
  23.0,
  19.0,
  20.5,
  22.0,
  20.0,
  14.5,
  24.0,
  28.0,
  30.0,
  30.5,
  25.0,
  11.5,
  7.0,
  4.5,
  -4.0,
  -2.0,
  9.0],
 [7.5,
  16.0,
  4.0,
  10.5,
  27.5,
  29.0,
  25.5,
  22.0,
  11.5,
  7.0,
  2.0,
  4.5,
  19.5,
  15.0,
  14.0,
  15.5,
  14.5,
  13.5,
  13.0,
  17.5,
  14.0,
  14.0,
  12.5,
  1.0,
  -1.0,
  4.0,
  13.0,
  14.0],
 [14.5,
  15.0,
  18.5,
  15.5,
  16.5,
  31.0,
  33.0,
  31.5,
  33.5,
  34.5,
  36.5,
  36.0,
  32.5,
  36.0,
  36.0,
  36.0,
  42.5,
  45.0,
  29.5,
  29.5,
  33.5,
  40.0,
  44.0,
  39.0,
  32.5,
  40.5,
  40.0,
  39.5,
  45.0,
  61.5],
 [60.0,
  64.0,
  48.5,
  47.5,
  50.5,
  49.0,
  44.0,
  40.0,
  40.0,
  49.5,
  42.5,
  53.5,
  56.0,
  64.0,
  66.5,
  56.5,
  46.5,
  47.5,
  51.5,
  55.0,
  56.5,
  56.0,
  54.5,
  54.5,
  60.0,
  48.5,
  44.0,
  49.0,
  53.0,
  69.0],
 [54.0,
  56.0,
  53.5,
  52.5,
  65.0,
  49.5,
  49.0,
  47.0,
  42.0,
  46.5,
  47.0,
  44.5,
  44.0,
  47.0,
  55.5,
  55.5,
  60.0,
  59.5,
  61.0,
  65.5,
  63.0,
  60.0,
  69.5,
  79.5,
  78.0,
  72.0,
  66.0,
  68.5,
  72.5,
  73.0,
  64.5],
 [64.0,
  69.5,
  67.5,
  64.5,
  71.5,
  66.5,
  70.0,
  67.0,
  66.5,
  65.0,
  68.5,
  72.5,
  66.0,
  61.0,
  63.5,
  64.5,
  69.0,
  76.0,
  67.0,
  68.5,
  73.5,
  72.5,
  76.5,
  67.5,
  68.5,
  73.5,
  76.5,
  70.5,
  63.0,
  63.5],
 [67.0,
  71.5,
  72.5,
  70.0,
  71.5,
  72.5,
  74.5,
  71.5,
  69.5,
  72.0,
  71.5,
  71.5,
  68.5,
  73.5,
  78.0,
  72.0,
  75.0,
  77.5,
  72.0,
  69.0,
  70.0,
  71.0,
  75.5,
  76.0,
  72.5,
  70.5,
  72.5,
  79.0,
  71.0,
  69.0,
  69.5],
 [72.5,
  76.0,
  75.0,
  77.0,
  74.0,
  68.5,
  71.0,
  77.0,
  79.5,
  76.5,
  76.5,
  79.0,
  81.5,
  78.0,
  74.0,
  65.5,
  67.0,
  69.5,
  68.0,
  76.0,
  75.5,
  76.0,
  77.0,
  74.5,
  65.0,
  63.5,
  66.5,
  70.5,
  68.0,
  73.5,
  79.5],
 [70.5,
  70.5,
  61.0,
  58.0,
  57.0,
  67.0,
  68.5,
  56.0,
  56.0,
  63.5,
  58.5,
  64.0,
  66.5,
  64.5,
  64.0,
  63.5,
  55.0,
  58.5,
  52.5,
  55.5,
  71.5,
  62.0,
  63.0,
  62.0,
  56.0,
  50.0,
  53.0,
  58.0,
  59.5,
  64.0],
 [60.5,
  58.5,
  44.0,
  45.0,
  50.0,
  56.5,
  58.0,
  58.5,
  67.5,
  68.5,
  65.5,
  66.0,
  59.0,
  54.5,
  52.0,
  50.0,
  50.5,
  46.5,
  46.5,
  49.5,
  54.5,
  47.5,
  54.5,
  60.5,
  57.5,
  59.5,
  45.5,
  39.0,
  32.0,
  43.5,
  42.5],
 [40.0,
  41.0,
  42.5,
  48.0,
  33.5,
  33.5,
  43.0,
  50.0,
  56.0,
  55.5,
  47.0,
  42.5,
  34.0,
  31.0,
  31.0,
  31.0,
  33.0,
  30.0,
  29.0,
  28.0,
  26.5,
  33.0,
  21.0,
  17.0,
  21.0,
  13.5,
  23.0,
  28.0,
  38.0,
  34.0],
 [16.5,
  18.5,
  20.5,
  20.0,
  11.5,
  9.5,
  10.5,
  9.0,
  12.5,
  29.5,
  29.5,
  16.5,
  -3.5,
  -0.5,
  11.5,
  17.5,
  11.5,
  11.0,
  8.0,
  11.0,
  25.5,
  21.0,
  24.0,
  25.0,
  20.0,
  11.0,
  8.5,
  11.0,
  16.0,
  27.5,
  25.0]]

In [12]:
monthlyAverages = []   # Zero out a list
month = 0
for temps in monthlyTemps:
    average = round(sum(temps) / len(temps), 2)
    monthlyAverages.append(average)
monthlyAverages

[8.27,
 12.89,
 33.95,
 52.58,
 58.74,
 68.47,
 72.18,
 73.27,
 60.98,
 53.02,
 34.48,
 15.65]

# Helper Methods
Since we have some working code to generate the structure we more or less want, lets make some helper methods to make our lives easier.

In [13]:
def loadFile(fileName):
    weatherRaw = pd.read_csv(fileName)
    weather = weatherRaw[["DATE", "STATE", "TMIN", "TMAX"]].dropna()
    weather["MONTH"] = pd.DatetimeIndex(weather["DATE"]).month
    return weather

def getTemps(weather):
    monthlyTemps = [[] for _ in range(12)]
    for idx, measure in weather.iterrows():
        index = measure["MONTH"] - 1
        average = (measure["TMIN"] + measure["TMAX"]) / 2
        monthlyTemps[index].append(average)
    return monthlyTemps

def getAverages(weather):
    monthlyAverages = []
    for temps in weather:
        average = round(sum(temps) / len(temps), 2)
        monthlyAverages.append(average)
    return monthlyAverages

weather = {
    "Iowa": getAverages(getTemps(loadFile(iowaWeatherFile))),
    "New York": getAverages(getTemps(loadFile(newyorkWeatherFile))),
    "Arizona": getAverages(getTemps(loadFile(newyorkWeatherFile)))
}
weather

{'Iowa': [8.27,
  12.89,
  33.95,
  52.58,
  58.74,
  68.47,
  72.18,
  73.27,
  60.98,
  53.02,
  34.48,
  15.65],
 'New York': [22.27,
  24.58,
  38.84,
  50.09,
  59.95,
  66.09,
  71.6,
  68.34,
  61.77,
  49.63,
  38.87,
  23.77],
 'Arizona': [22.27,
  24.58,
  38.84,
  50.09,
  59.95,
  66.09,
  71.6,
  68.34,
  61.77,
  49.63,
  38.87,
  23.77]}

# Getting the census information

In [14]:
censusRaw = pd.read_csv(censusInformation)
censusRaw

,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010
0,0,United States,308745538,308758105,309321666
1,0,Northeast Region,55317240,55318443,55380134
2,0,Midwest Region,66927001,66929725,66974416
3,0,South Region,114555744,114563030,114866680
4,0,West Region,71945553,71946907,72100436
5,1,Alabama,4779736,4780125,4785437
6,2,Alaska,710231,710249,713910
7,4,Arizona,6392017,6392288,6407172
8,5,Arkansas,2915918,2916031,2921964
9,6,California,37253956,37254519,37319502
10,8,Colorado,5029196,5029319,5047349
11,9,Connecticut,3574097,3574147,3579114
12,10,Delaware,897934,897937,899593
13,11,District of Columbia,601723,601767,605226
14,12,Florida,18801310,18804564,18845537
15,13,Georgia,9687653,9688729,9711881
16,15,Hawaii,1360301,1360307,1363963
17,16,Idaho,1567582,1567657,1570746
18,17,Illinois,12830632,12831572,12840503
19,18,Indiana,6483802,6484051,6490432
20,19,Iowa,3046355,3046871,3050745
21,20,Kansas,2853118,2853123,2858190
22,21,Kentucky,4339367,4339333,4348181
23,22,Louisiana,4533372,4533487,4544532
24,23,Maine,1328361,1328358,1327629
25,24,Maryland,5773552,5773794,5788645
26,25,Massachusetts,6547629,6547785,6566307
27,26,Michigan,9883640,9884116,9877510
28,27,Minnesota,5303925,5303927,5310828
29,28,Mississippi,2967297,2968130,2970548
30,29,Missouri,5988927,5988950,5995974
31,30,Montana,989415,989407,990697
32,31,Nebraska,1826341,1826305,1829542
33,32,Nevada,2700551,2700677,2702405
34,33,New Hampshire,1316470,1316462,1316762
35,34,New Jersey,8791894,8791978,8799446
36,35,New Mexico,2059179,2059199,2064552
37,36,New York,19378102,19378144,19399878
38,37,North Carolina,9535483,9535751,9574323
39,38,North Dakota,672591,672576,674715
40,39,Ohio,11536504,11536751,11539336
41,40,Oklahoma,3751351,3751582,3759944
42,41,Oregon,3831074,3831079,3837491
43,42,Pennsylvania,12702379,12702868,12711160
44,44,Rhode Island,1052567,1052964,1053959
45,45,South Carolina,4625364,4625366,4635649
46,46,South Dakota,814180,814198,816166
47,47,Tennessee,6346105,6346276,6355311
48,48,Texas,25145561,25146091,25241971
49,49,Utah,2763885,2763891,2775332
50,50,Vermont,625741,625737,625879
51,51,Virginia,8001024,8001049,8023699
52,53,Washington,6724540,6724540,6742830
53,54,West Virginia,1852994,1853018,1854239
54,55,Wisconsin,5686986,5687285,5690475
55,56,Wyoming,563626,563775,564487
56,72,Puerto Rico,3725789,3726157,3721525

In [15]:
# Lets rekey the row labels to make this easier to query
censusRaw.set_index("NAME", drop=True, inplace=True)

In [16]:
# Lets try pulling just Iowa
census = censusRaw[["CENSUS2010POP"]]
census

                      CENSUS2010POP
NAME
United States             308745538
Northeast Region           55317240
Midwest Region             66927001
South Region              114555744
West Region                71945553
Alabama                     4779736
Alaska                       710231
Arizona                     6392017
Arkansas                    2915918
California                 37253956
Colorado                    5029196
Connecticut                 3574097
Delaware                     897934
District of Columbia         601723
Florida                    18801310
Georgia                     9687653
Hawaii                      1360301
Idaho                       1567582
Illinois                   12830632
Indiana                     6483802
Iowa                        3046355
Kansas                      2853118
Kentucky                    4339367
Louisiana                   4533372
Maine                       1328361
Maryland                    5773552
Massachusetts               6547629
Michigan                    9883640
Minnesota                   5303925
Mississippi                 2967297
Missouri                    5988927
Montana                      989415
Nebraska                    1826341
Nevada                      2700551
New Hampshire               1316470
New Jersey                  8791894
New Mexico                  2059179
New York                   19378102
North Carolina              9535483
North Dakota                 672591
Ohio                       11536504
Oklahoma                    3751351
Oregon                      3831074
Pennsylvania               12702379
Rhode Island                1052567
South Carolina              4625364
South Dakota                 814180
Tennessee                   6346105
Texas                      25145561
Utah                        2763885
Vermont                      625741
Virginia                    8001024
Washington                  6724540
West Virginia               1852994
Wisconsin                   5686986
Wyoming                      563626
Puerto Rico                 3725789

In [17]:
census.loc["Iowa"]["CENSUS2010POP"]

3046355

In [18]:
# Now we have an idea of how to tie these together
for key in weather:
    censusValue = census.loc[key]["CENSUS2010POP"]
    weather[key].append(censusValue)
weather

{'Iowa': [8.27,
  12.89,
  33.95,
  52.58,
  58.74,
  68.47,
  72.18,
  73.27,
  60.98,
  53.02,
  34.48,
  15.65,
  3046355],
 'New York': [22.27,
  24.58,
  38.84,
  50.09,
  59.95,
  66.09,
  71.6,
  68.34,
  61.77,
  49.63,
  38.87,
  23.77,
  19378102],
 'Arizona': [22.27,
  24.58,
  38.84,
  50.09,
  59.95,
  66.09,
  71.6,
  68.34,
  61.77,
  49.63,
  38.87,
  23.77,
  6392017]}

# Conversion back to a dataframe

In [19]:
weatherDF = pd.DataFrame.from_dict(weather)
weatherDF

          Iowa     New York     Arizona
0         8.27        22.27       22.27
1        12.89        24.58       24.58
2        33.95        38.84       38.84
3        52.58        50.09       50.09
4        58.74        59.95       59.95
5        68.47        66.09       66.09
6        72.18        71.60       71.60
7        73.27        68.34       68.34
8        60.98        61.77       61.77
9        53.02        49.63       49.63
10       34.48        38.87       38.87
11       15.65        23.77       23.77
12  3046355.00  19378102.00  6392017.00

In [20]:
# Now lets add some row indexes to make this nicer.
weatherDF.index = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec", "Pop"]
weatherDF

            Iowa     New York     Arizona
Jan         8.27        22.27       22.27
Feb        12.89        24.58       24.58
Mar        33.95        38.84       38.84
Apr        52.58        50.09       50.09
May        58.74        59.95       59.95
Jun        68.47        66.09       66.09
Jul        72.18        71.60       71.60
Aug        73.27        68.34       68.34
Sept       60.98        61.77       61.77
Oct        53.02        49.63       49.63
Nov        34.48        38.87       38.87
Dec        15.65        23.77       23.77
Pop   3046355.00  19378102.00  6392017.00